In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train.csv")
df

,Unnamed: 0,loan_amnt,term,int_rate,grade,home_ownership,emp_length,label,Cash,DirectPay
0,0,18500.0,36,13.58,5,1,6,0,1,0
1,1,7000.0,36,7.34,7,1,10,0,1,0
2,2,16000.0,60,11.98,6,1,5,0,1,0
3,3,28000.0,36,10.90,6,1,6,0,1,0
4,4,8300.0,36,7.34,7,1,4,0,1,0
...,...,...,...,...,...,...,...,...,...,...
4987,107558,32200.0,60,16.02,5,2,3,1,1,0
4988,107571,10000.0,36,9.44,6,2,0,1,1,0
4989,107755,16000.0,36,20.00,4,2,2,1,1,0
4990,107810,35175.0,36,17.09,4,1,10,1,1,0
4991,107819,10000.0,36,16.02,5,2,5,1,1,0

In [3]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)
df

,loan_amnt,term,int_rate,grade,home_ownership,emp_length,label,Cash,DirectPay
0,18500.0,36,13.58,5,1,6,0,1,0
1,7000.0,36,7.34,7,1,10,0,1,0
2,16000.0,60,11.98,6,1,5,0,1,0
3,28000.0,36,10.90,6,1,6,0,1,0
4,8300.0,36,7.34,7,1,4,0,1,0
...,...,...,...,...,...,...,...,...,...
4987,32200.0,60,16.02,5,2,3,1,1,0
4988,10000.0,36,9.44,6,2,0,1,1,0
4989,16000.0,36,20.00,4,2,2,1,1,0
4990,35175.0,36,17.09,4,1,10,1,1,0
4991,10000.0,36,16.02,5,2,5,1,1,0

In [4]:
y = df['label']
y

0       0
1       0
2       0
3       0
4       0
       ..
4987    1
4988    1
4989    1
4990    1
4991    1
Name: label, Length: 4992, dtype: int64

In [5]:
df.drop("label",axis=1,inplace=True)
df

,loan_amnt,term,int_rate,grade,home_ownership,emp_length,Cash,DirectPay
0,18500.0,36,13.58,5,1,6,1,0
1,7000.0,36,7.34,7,1,10,1,0
2,16000.0,60,11.98,6,1,5,1,0
3,28000.0,36,10.90,6,1,6,1,0
4,8300.0,36,7.34,7,1,4,1,0
...,...,...,...,...,...,...,...,...
4987,32200.0,60,16.02,5,2,3,1,0
4988,10000.0,36,9.44,6,2,0,1,0
4989,16000.0,36,20.00,4,2,2,1,0
4990,35175.0,36,17.09,4,1,10,1,0
4991,10000.0,36,16.02,5,2,5,1,0

In [6]:
from sklearn.preprocessing import StandardScaler
std =StandardScaler()

In [7]:
std_x = std.fit_transform(df)
std_x

array([[ 0.16642794, -0.74410224, -0.11449683, ...,  0.02961412,
         0.23009219, -0.23009219],
       [-0.92857942, -0.74410224, -1.22212176, ...,  1.11662646,
         0.23009219, -0.23009219],
       [-0.07161714,  1.34390135, -0.39850322, ..., -0.24213897,
         0.23009219, -0.23009219],
       ...,
       [-0.07161714, -0.74410224,  1.02507881, ..., -1.05739822,
         0.23009219, -0.23009219],
       [ 1.75418861, -0.74410224,  0.50854219, ...,  1.11662646,
         0.23009219, -0.23009219],
       [-0.64292533, -0.74410224,  0.31861291, ..., -0.24213897,
         0.23009219, -0.23009219]])

In [8]:
std_x = pd.DataFrame(std_x)
std_x

,0,1,2,3,4,5,6,7
0,0.166428,-0.744102,-0.114497,-0.136726,-1.013275,0.029614,0.230092,-0.230092
1,-0.928579,-0.744102,-1.222122,1.465475,-1.013275,1.116626,0.230092,-0.230092
2,-0.071617,1.343901,-0.398503,0.664374,-1.013275,-0.242139,0.230092,-0.230092
3,1.070999,-0.744102,-0.590208,0.664374,-1.013275,0.029614,0.230092,-0.230092
4,-0.804796,-0.744102,-1.222122,1.465475,-1.013275,-0.513892,0.230092,-0.230092
...,...,...,...,...,...,...,...,...
4987,1.470915,1.343901,0.318613,-0.136726,0.420881,-0.785645,0.230092,-0.230092
4988,-0.642925,-0.744102,-0.849363,0.664374,0.420881,-1.600904,0.230092,-0.230092
4989,-0.071617,-0.744102,1.025079,-0.937827,0.420881,-1.057398,0.230092,-0.230092
4990,1.754189,-0.744102,0.508542,-0.937827,-1.013275,1.116626,0.230092,-0.230092
4991,-0.642925,-0.744102,0.318613,-0.136726,0.420881,-0.242139,0.230092,-0.230092

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test = train_test_split(std_x,y,test_size=0.2,random_state=1)

In [11]:
len(x_train),len(x_test),len(y_test),len(y_train)

(3993, 999, 999, 3993)

In [12]:
from xgboost import XGBClassifier

In [13]:
model = XGBClassifier()
model.fit(x_train,y_train)

[08:51:47] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

D:\Develop Tools\anaconda\envs\ml\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [14]:
y_pred = model.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [16]:
acc = accuracy_score(y_test,y_pred)
print("%.2f%%"%(acc*100))

87.59%

In [17]:
help(metrics.precision_score)

Help on function precision_score in module sklearn.metrics._classification:

precision_score(y_true, y_pred, *, labels=None, pos_label=1, average='binary', sample_weight=None, zero_division='warn')
    Compute the precision

    The precision is the ratio ``tp / (tp + fp)`` where ``tp`` is the number of
    true positives and ``fp`` the number of false positives. The precision is
    intuitively the ability of the classifier not to label as positive a sample
    that is negative.

    The best value is 1 and the worst value is 0.

    Read more in the :ref:`User Guide <precision_recall_f_measure_metrics>`.

    Parameters
    ----------
    y_true : 1d array-like, or label indicator array / sparse matrix
        Ground truth (correct) target values.

    y_pred : 1d array-like, or label indicator array / sparse matrix
        Estimated targets as returned by a classifier.

    labels : list, optional
        The set of labels to include when ``average != 'binary'``, and their
        order if ``average is None``. Labels present in the data can be
        excluded, for example to calculate a multiclass average ignoring a
        majority negative class, while labels not present in the data will
        result in 0 components in a macro average. For multilabel targets,
        labels are column indices. By default, all labels in ``y_true`` and
        ``y_pred`` are used in sorted order.

        .. versionchanged:: 0.17
           parameter *labels* improved for multiclass problem.

    pos_label : str or int, 1 by default
        The class to report if ``average='binary'`` and the data is binary.
        If the data are multiclass or multilabel, this will be ignored;
        setting ``labels=[pos_label]`` and ``average != 'binary'`` will report
        scores for that label only.

    average : string, [None, 'binary' (default), 'micro', 'macro', 'samples',                        'weighted']
        This parameter is required for multiclass/multilabel targets.
        If ``None``, the scores for each class are returned. Otherwise, this
        determines the type of averaging performed on the data:

        ``'binary'``:
            Only report results for the class specified by ``pos_label``.
            This is applicable only if targets (``y_{true,pred}``) are binary.
        ``'micro'``:
            Calculate metrics globally by counting the total true positives,
            false negatives and false positives.
        ``'macro'``:
            Calculate metrics for each label, and find their unweighted
            mean.  This does not take label imbalance into account.
        ``'weighted'``:
            Calculate metrics for each label, and find their average weighted
            by support (the number of true instances for each label). This
            alters 'macro' to account for label imbalance; it can result in an
            F-score that is not between precision and recall.
        ``'samples'``:
            Calculate metrics for each instance, and find their average (only
            meaningful for multilabel classification where this differs from
            :func:`accuracy_score`).

    sample_weight : array-like of shape (n_samples,), default=None
        Sample weights.

    zero_division : "warn", 0 or 1, default="warn"
        Sets the value to return when there is a zero division. If set to
        "warn", this acts as 0, but warnings are also raised.

    Returns
    -------
    precision : float (if average is not None) or array of float, shape =        [n_unique_labels]
        Precision of the positive class in binary classification or weighted
        average of the precision of each class for the multiclass task.

    See also
    --------
    precision_recall_fscore_support, multilabel_confusion_matrix

    Examples
    --------
    >>> from sklearn.metrics import precision_score
    >>> y_true = [0, 1, 2, 0, 1, 2]
    >>> y_pred = [0, 2, 1, 0, 0, 1]
    >>> precision_score(y_true, y_pred, average='macro')
    0.22...
    >>> precision_score(y_true, y_pred, average='micro')
    0.33...
    >>> precision_score(y_true, y_pred, average='weighted')
    0.22...
    >>> precision_score(y_true, y_pred, average=None)
    array([0.66..., 0.        , 0.        ])
    >>> y_pred = [0, 0, 0, 0, 0, 0]
    >>> precision_score(y_true, y_pred, average=None)
    array([0.33..., 0.        , 0.        ])
    >>> precision_score(y_true, y_pred, average=None, zero_division=1)
    array([0.33..., 1.        , 1.        ])

    Notes
    -----
    When ``true positive + false positive == 0``, precision returns 0 and
    raises ``UndefinedMetricWarning``. This behavior can be
    modified with ``zero_division``.

In [19]:
precision = metrics.precision_score(y_test,y_pred,average=None)
precision

array([0.84509466, 0.91866029])

In [20]:
help(metrics.recall_score)

Help on function recall_score in module sklearn.metrics._classification:

recall_score(y_true, y_pred, *, labels=None, pos_label=1, average='binary', sample_weight=None, zero_division='warn')
    Compute the recall

    The recall is the ratio ``tp / (tp + fn)`` where ``tp`` is the number of
    true positives and ``fn`` the number of false negatives. The recall is
    intuitively the ability of the classifier to find all the positive samples.

    The best value is 1 and the worst value is 0.

    Read more in the :ref:`User Guide <precision_recall_f_measure_metrics>`.

    Parameters
    ----------
    y_true : 1d array-like, or label indicator array / sparse matrix
        Ground truth (correct) target values.

    y_pred : 1d array-like, or label indicator array / sparse matrix
        Estimated targets as returned by a classifier.

    labels : list, optional
        The set of labels to include when ``average != 'binary'``, and their
        order if ``average is None``. Labels present in the data can be
        excluded, for example to calculate a multiclass average ignoring a
        majority negative class, while labels not present in the data will
        result in 0 components in a macro average. For multilabel targets,
        labels are column indices. By default, all labels in ``y_true`` and
        ``y_pred`` are used in sorted order.

        .. versionchanged:: 0.17
           parameter *labels* improved for multiclass problem.

    pos_label : str or int, 1 by default
        The class to report if ``average='binary'`` and the data is binary.
        If the data are multiclass or multilabel, this will be ignored;
        setting ``labels=[pos_label]`` and ``average != 'binary'`` will report
        scores for that label only.

    average : string, [None, 'binary' (default), 'micro', 'macro', 'samples',                        'weighted']
        This parameter is required for multiclass/multilabel targets.
        If ``None``, the scores for each class are returned. Otherwise, this
        determines the type of averaging performed on the data:

        ``'binary'``:
            Only report results for the class specified by ``pos_label``.
            This is applicable only if targets (``y_{true,pred}``) are binary.
        ``'micro'``:
            Calculate metrics globally by counting the total true positives,
            false negatives and false positives.
        ``'macro'``:
            Calculate metrics for each label, and find their unweighted
            mean.  This does not take label imbalance into account.
        ``'weighted'``:
            Calculate metrics for each label, and find their average weighted
            by support (the number of true instances for each label). This
            alters 'macro' to account for label imbalance; it can result in an
            F-score that is not between precision and recall.
        ``'samples'``:
            Calculate metrics for each instance, and find their average (only
            meaningful for multilabel classification where this differs from
            :func:`accuracy_score`).

    sample_weight : array-like of shape (n_samples,), default=None
        Sample weights.

    zero_division : "warn", 0 or 1, default="warn"
        Sets the value to return when there is a zero division. If set to
        "warn", this acts as 0, but warnings are also raised.

    Returns
    -------
    recall : float (if average is not None) or array of float, shape =        [n_unique_labels]
        Recall of the positive class in binary classification or weighted
        average of the recall of each class for the multiclass task.

    See also
    --------
    precision_recall_fscore_support, balanced_accuracy_score,
    multilabel_confusion_matrix

    Examples
    --------
    >>> from sklearn.metrics import recall_score
    >>> y_true = [0, 1, 2, 0, 1, 2]
    >>> y_pred = [0, 2, 1, 0, 0, 1]
    >>> recall_score(y_true, y_pred, average='macro')
    0.33...
    >>> recall_score(y_true, y_pred, average='micro')
    0.33...
    >>> recall_score(y_true, y_pred, average='weighted')
    0.33...
    >>> recall_score(y_true, y_pred, average=None)
    array([1., 0., 0.])
    >>> y_true = [0, 0, 0, 0, 0, 0]
    >>> recall_score(y_true, y_pred, average=None)
    array([0.5, 0. , 0. ])
    >>> recall_score(y_true, y_pred, average=None, zero_division=1)
    array([0.5, 1. , 1. ])

    Notes
    -----
    When ``true positive + false negative == 0``, recall returns 0 and raises
    ``UndefinedMetricWarning``. This behavior can be modified with
    ``zero_division``.

In [21]:
recall = metrics.recall_score(y_test,y_pred,average=None)
recall

array([0.9352381 , 0.81012658])

In [28]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100)

In [29]:
rfc.fit(x_train,y_train)

RandomForestClassifier()

In [30]:
rfc_pred_y = rfc.predict(x_test)

In [31]:
acc_rfc = accuracy_score(y_test,rfc_pred_y)
print("%.2f%%"%(acc_rfc*100))

85.29%