In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")
train.head()

,Unnamed: 0,loan_amnt,term,int_rate,grade,home_ownership,emp_length,label,Cash,DirectPay
0,0,18500.0,36,13.58,5,1,6,0,1,0
1,1,7000.0,36,7.34,7,1,10,0,1,0
2,2,16000.0,60,11.98,6,1,5,0,1,0
3,3,28000.0,36,10.90,6,1,6,0,1,0
4,4,8300.0,36,7.34,7,1,4,0,1,0

In [3]:
train.drop("Unnamed: 0",axis=1,inplace=True)
train.head()

,loan_amnt,term,int_rate,grade,home_ownership,emp_length,label,Cash,DirectPay
0,18500.0,36,13.58,5,1,6,0,1,0
1,7000.0,36,7.34,7,1,10,0,1,0
2,16000.0,60,11.98,6,1,5,0,1,0
3,28000.0,36,10.90,6,1,6,0,1,0
4,8300.0,36,7.34,7,1,4,0,1,0

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4992 entries, 0 to 4991
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   loan_amnt       4992 non-null   float64
 1   term            4992 non-null   int64
 2   int_rate        4992 non-null   float64
 3   grade           4992 non-null   int64
 4   home_ownership  4992 non-null   int64
 5   emp_length      4992 non-null   int64
 6   label           4992 non-null   int64
 7   Cash            4992 non-null   int64
 8   DirectPay       4992 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 351.1 KB

In [5]:
from sklearn.utils import shuffle

In [6]:
train = shuffle(train)

In [8]:
y = train.label
y

1890    0
3513    1
1456    0
4270    1
2764    1
       ..
353     0
1355    0
1342    0
3087    1
2925    1
Name: label, Length: 4992, dtype: int64

In [9]:
train.drop("label",axis=1,inplace=True)

D:\Develop Tools\anaconda\envs\ml\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
x = train

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [19]:
len(x_train),len(x_test),len(y_test),len(y_train)

(3993, 999, 999, 3993)

In [21]:
from xgboost import XGBClassifier

In [22]:
model = XGBClassifier()
model.fit(x_train,y_train)

D:\Develop Tools\anaconda\envs\ml\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[08:45:50] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [23]:
y_pred = model.predict(x_test)

In [25]:
from sklearn.metrics import accuracy_score

In [27]:
acc = accuracy_score(y_test,y_pred)
print("%.2f%%"%(acc*100))

88.99%

In [31]:
model2 = XGBClassifier(learning_rate=0.1)

In [32]:
model2.fit(x_train,y_train)

D:\Develop Tools\anaconda\envs\ml\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[08:55:50] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.1, max_delta_step=0,
              max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [33]:
accuracy_score(y_test,model2.predict(x_test))

0.8788788788788788

In [35]:
import joblib

In [36]:
joblib.dump(model,"xgb.joblib")

['xgb.joblib']

In [37]:
xgb = joblib.load("xgb.joblib")

In [39]:
y_pred = xgb.predict(x_test)
acc = accuracy_score(y_test,y_pred)
print("%.2f%%"%(acc*100))

88.99%